Workflow Sistem Analisis Pengeluaran & Saran Penghematan Mingguan Otomatis.json
{
  "name": "Workflow Sistem Analisis Pengeluaran & Saran Penghematan Mingguan Otomatis",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst today = new Date();\ntoday.setHours(23, 59, 59, 999); // inklusif hari ini sampai akhir hari\n\nconst sevenDaysAgo = new Date();\nsevenDaysAgo.setDate(today.getDate() - 7);\nsevenDaysAgo.setHours(0, 0, 0, 0);\n\nlet weeklyExpenses = [];\nlet formattedString = \"Data pengeluaran saya minggu ini:\\n\";\nlet hasExpenses = false;\n\nfor (const item of items) {\n  const rawTanggal = item.json.Tanggal; // format: \"13/04/2026\"\n  \n  // Parse manual DD/MM/YYYY → YYYY-MM-DD agar valid di semua engine\n  const [day, month, year] = rawTanggal.split(\"/\");\n  const expenseDate = new Date(`${year}-${month}-${day}`);\n\n  if (expenseDate >= sevenDaysAgo && expenseDate <= today) {\n    weeklyExpenses.push(item.json);\n    formattedString += `- ${item.json.Deskripsi}: Rp${item.json[\"Jumlah (IDR)\"]}\\n`;\n    hasExpenses = true;\n  }\n}\n\nreturn [{\n  json: {\n    promptData: formattedString,\n    hasExpenses: hasExpenses\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        304
      ],
      "id": "7666ca34-89c6-4804-968e-5dcbc5df5d18",
      "name": "Filter 7 hari & format teks"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15rF4spx0-Vayw25RXs-5h4cHu4N7UoF828bKqe4jyYk",
          "mode": "list",
          "cachedResultName": "Data Dummy Catatan Keuangan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15rF4spx0-Vayw25RXs-5h4cHu4N7UoF828bKqe4jyYk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15rF4spx0-Vayw25RXs-5h4cHu4N7UoF828bKqe4jyYk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        304
      ],
      "id": "44f6e29b-45db-46e6-88d1-6ca5f0519a47",
      "name": "Ambil log pengeluaran",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oV0ZPaGsfxLjCL1t",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        16,
        304
      ],
      "id": "63ece689-ea10-45b3-b4c2-65d13aa8d75d",
      "name": "Setiap hari minggu"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fb256ed6-2347-422b-a4e9-fd079c6c29dc",
              "leftValue": "={{ $node[\"Filter 7 hari & format teks\"].json.hasExpenses }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        640,
        304
      ],
      "id": "2b5ca065-8ead-434a-a902-45980541ab12",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "1315189308",
        "text": "Tidak ditemukan log pengeluaran untuk 7 hari terakhir. Tidak ada analisis AI yang dibuat.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        512
      ],
      "id": "c255327f-cb5e-4070-949b-910aa6d5a3d3",
      "name": "Pesan false",
      "webhookId": "81c94770-4ab0-4ad2-b24e-40c271b83e88",
      "credentials": {
        "telegramApi": {
          "id": "GzF8LJop6zaeNUM9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1315189308",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1152,
        80
      ],
      "id": "dc3ecc71-8dac-4a0b-8382-432e3bd7e782",
      "name": "Pesan true",
      "webhookId": "604c8abd-0db0-479b-82b9-2ec0d9371224",
      "credentials": {
        "telegramApi": {
          "id": "GzF8LJop6zaeNUM9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $node[\"Filter 7 hari & format teks\"].json.promptData }} (Notes: sesuaikan dengan nama nodes kalian).\n\n---\nInstruksi: \"Tulis ringkasan kebiasaan belanja saya minggu ini dan beri 1 saran penghematan.\"\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        832,
        80
      ],
      "id": "bd8815bb-d933-459a-963d-a3ca6b4329de",
      "name": "Analisis pengeluaran mingguan"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        944,
        272
      ],
      "id": "21f02aca-4427-4d16-9be7-d60e332fe56f",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "NThFWabpHwobgPKx",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Filter 7 hari & format teks": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ambil log pengeluaran": {
      "main": [
        [
          {
            "node": "Filter 7 hari & format teks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setiap hari minggu": {
      "main": [
        [
          {
            "node": "Ambil log pengeluaran",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Analisis pengeluaran mingguan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pesan false",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisis pengeluaran mingguan": {
      "main": [
        [
          {
            "node": "Pesan true",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analisis pengeluaran mingguan",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "32fbe8a2-e090-4714-88c0-b56eb40f7a95",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a82a83e928bd86ebee645190c3e8e8e720bb96438d836d91e81f6558b87cee59"
  },
  "id": "0BUH9l5XTGawBmmS",
  "tags": []
}