Workflow Sistem Pelaporan & Agregasi Data Otomatis.json
{
  "name": "Workflow Sistem Pelaporan & Agregasi Data Otomatis",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -48
      ],
      "id": "7153456a-1cf6-4221-a7d9-d007ac3f0019",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1w1qkYJXuu6EDdHQTDip-9sHmsF_6UI2op-sJDCkJBH8",
          "mode": "list",
          "cachedResultName": "Dummy Keuangan 1.1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w1qkYJXuu6EDdHQTDip-9sHmsF_6UI2op-sJDCkJBH8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w1qkYJXuu6EDdHQTDip-9sHmsF_6UI2op-sJDCkJBH8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        -240
      ],
      "id": "bf7a148a-5d10-49d3-9c2e-cd17bb69c387",
      "name": "Data Sheet 1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oV0ZPaGsfxLjCL1t",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1i-zRAYar5Nhqq9fccqed282N3hVpQlj3cVjusPbZswU",
          "mode": "list",
          "cachedResultName": "Dummy Keuangan3.1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i-zRAYar5Nhqq9fccqed282N3hVpQlj3cVjusPbZswU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i-zRAYar5Nhqq9fccqed282N3hVpQlj3cVjusPbZswU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        176
      ],
      "id": "ba0b6fb9-a0d5-47bc-a73d-d9eea0db6794",
      "name": "Data Sheet 3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oV0ZPaGsfxLjCL1t",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10Z3EnW2aZ70pn-C0ZT-_bCkKQstMxyDbxc9JN169RBU",
          "mode": "list",
          "cachedResultName": "Dummy Keuangan 2.1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10Z3EnW2aZ70pn-C0ZT-_bCkKQstMxyDbxc9JN169RBU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10Z3EnW2aZ70pn-C0ZT-_bCkKQstMxyDbxc9JN169RBU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        -48
      ],
      "id": "36aa6a74-932b-43b2-9b78-7c0f260362c6",
      "name": "Data Sheet 2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oV0ZPaGsfxLjCL1t",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        -144
      ],
      "id": "453f7e27-2121-424d-a7ad-0f378e10de3a",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nitems.forEach(item => {\n  if (item.json && item.json['ID Laporan']) {\n    // Tambahkan kolom \"Sumber\" berdasarkan ID awal\n    if (item.json['ID Laporan'].startsWith('REP')) {\n      item.json.Sumber = 'Sheet1';\n    } else if (item.json['ID Laporan'].startsWith('LAP')) {\n      item.json.Sumber = 'Sheet2';\n    } else {\n      item.json.Sumber = 'Unknown';\n    }\n  }\n});\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -144
      ],
      "id": "d273b1aa-d19a-4317-bf36-342dec5ccddf",
      "name": "Menambahkan Kolom Sumber"
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua item dari input (aman untuk semua mode)\nconst inputData = $input.all();\n\n// Ekstrak semua baris dari semua item\nconst allRows = inputData.flatMap(item =>\n  Array.isArray(item.json) ? item.json : [item.json]\n);\n\n// Proses tiap baris\nallRows.forEach(row => {\n  if (typeof row === 'object' && row !== null) {\n    if (row['ID Laporan']) row['ID Laporan'] = String(row['ID Laporan']).trim();\n    if (row.Bulan) row.Bulan = String(row.Bulan).trim();\n    if (row['Kategori Produk']) row['Kategori Produk'] = String(row['Kategori Produk']).trim();\n    if (row['Nama Produk']) row['Nama Produk'] = String(row['Nama Produk']).trim();\n\n    row['Jumlah Stok'] = parseFloat(row['Jumlah Stok']) || 0;\n    row['Penjualan Harian'] = parseFloat(row['Penjualan Harian']) || 0;\n    row['Harga Satuan (IDR)'] = parseFloat(row['Harga Satuan (IDR)']) || 0;\n    row['Total Penjualan (IDR)'] = parseFloat(row['Total Penjualan (IDR)']) || 0;\n  }\n});\n\n// Kembalikan sebagai daftar item terpisah\nreturn allRows.map(row => ({ json: row }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        176
      ],
      "id": "c91afd45-bb01-46a1-a3dd-c68f68016256",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "['ID Laporan']",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        896,
        -144
      ],
      "id": "a045f24d-2de3-4d2c-87b5-9849285c4c69",
      "name": "Menghapus Duplikat Berdasarkan ID Laporan"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "['ID Laporan']",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        672,
        176
      ],
      "id": "5940b53c-ca8a-44de-a694-23083d90a034",
      "name": "Menghapus Duplikat Berdasarkan ID Laporan1"
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua input (untuk aman di semua mode)\nconst inputData = $input.all();\n\n// Ekstrak semua baris\nconst allRows = inputData.flatMap(item =>\n  Array.isArray(item.json) ? item.json : [item.json]\n);\n\n// Transformasi setiap baris\nconst transformedRows = allRows.map(row => {\n  // Gabung Kategori + Nama Produk untuk kolom \"Produk\"\n  const produk = `${row['Kategori Produk'] || ''} ${row['Nama Produk'] || ''}`.trim();\n\n  // Buat objek baru dengan format Sheet 1 & 2\n  return {\n    'ID Laporan': row['ID Laporan'] ? String(row['ID Laporan']).trim() : '',\n    'Bulan': row.Bulan ? String(row.Bulan).trim() : '',\n    'Produk': produk,\n    'Wilayah': '-', // default, bisa diisi jika ada info wilayah\n    'Penjualan (Unit)': parseFloat(row['Penjualan Harian']) || 0,\n    'Target (Unit)': 0, // default, bisa diisi jika ada target\n    'Pendapatan (IDR)': parseFloat(row['Total Penjualan (IDR)']) || 0,\n    'Status': row['Karyawan Penanggung Jawab'] ? String(row['Karyawan Penanggung Jawab']).trim() : 'Tidak Diketahui',\n    'Keterangan': row['Catatan Status'] ? String(row['Catatan Status']).trim() : '',\n    'Tanggal Laporan': row.Bulan ? `${row.Bulan} 01, ${new Date().getFullYear()}` : ''\n  };\n});\n\n// Kembalikan sebagai array item terpisah\nreturn transformedRows.map(row => ({ json: row }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        176
      ],
      "id": "b75a7a91-1609-420d-be53-bd2a4bc7f8fb",
      "name": "Menyesuaikan Header"
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua input (untuk aman di semua mode)\nconst inputData = $input.all();\n\n// Ekstrak semua baris\nconst allRows = inputData.flatMap(item =>\n  Array.isArray(item.json) ? item.json : [item.json]\n);\n\n// Transformasi setiap baris\nconst transformedRows = allRows.map(row => {\n  // Gabung Kategori + Nama Produk untuk kolom \"Produk\"\n  const produk = `${row['Kategori Produk'] || ''} ${row['Nama Produk'] || ''}`.trim();\n\n  // Buat objek baru dengan format Sheet 1 & 2\n  return {\n    'ID Laporan': row['ID Laporan'] ? String(row['ID Laporan']).trim() : '',\n    'Bulan': row.Bulan ? String(row.Bulan).trim() : '',\n    'Produk': produk,\n    'Wilayah': '-', // default, bisa diisi jika ada info wilayah\n    'Penjualan (Unit)': parseFloat(row['Penjualan Harian']) || 0,\n    'Target (Unit)': 0, // default, bisa diisi jika ada target\n    'Pendapatan (IDR)': parseFloat(row['Total Penjualan (IDR)']) || 0,\n    'Status': row['Karyawan Penanggung Jawab'] ? String(row['Karyawan Penanggung Jawab']).trim() : 'Tidak Diketahui',\n    'Keterangan': row['Catatan Status'] ? String(row['Catatan Status']).trim() : '',\n    'Tanggal Laporan': row.Bulan ? `${row.Bulan} 01, ${new Date().getFullYear()}` : ''\n  };\n});\n\n// Kembalikan sebagai array item terpisah\nreturn transformedRows.map(row => ({ json: row }))"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        176
      ],
      "id": "64eaa421-0137-47a4-8124-9031dd1e6ba0",
      "name": "Menambahkan Kolom Sumber1"
    },
    {
      "parameters": {
        "jsCode": "// Ambil SEMUA input dari semua jalur\nconst allInputs = $input.all();\n\n// Gabungkan semua baris dari semua input\nconst allRows = allInputs.flatMap(item =>\n  Array.isArray(item.json) ? item.json : [item.json]\n);\n\n// Filter hanya bulan ini\nconst now = new Date();\nconst currentMonthName = now.toLocaleString('id-ID', { month: 'long' });\nconst currentYear = now.getFullYear();\n\nconst monthlyData = allRows.filter(row => \n  String(row.Bulan || '').toLowerCase() === currentMonthName.toLowerCase()\n);\n\n// Hitung metrik\nconst totalPenjualanUnit = monthlyData.reduce((sum, r) => sum + (r['Penjualan (Unit)'] || 0), 0);\nconst totalPendapatan = monthlyData.reduce((sum, r) => sum + (r['Pendapatan (IDR)'] || 0), 0);\nconst totalLaporan = monthlyData.length;\n\n// Buat ringkasan\nconst laporan = {\n  'Bulan': currentMonthName,\n  'Tahun': currentYear,\n  'Jumlah_Laporan': totalLaporan,\n  'Total_Penjualan_Unit': totalPenjualanUnit,\n  'Total_Pendapatan_IDR': totalPendapatan,\n  'Rata_Rata_Penjualan_Per_Laporan': totalLaporan ? (totalPenjualanUnit / totalLaporan).toFixed(2) : 0,\n  'Rata_Rata_Pendapatan_Per_Laporan': totalLaporan ? (totalPendapatan / totalLaporan).toFixed(2) : 0,\n  'Sumber_Data': 'Sheet 1, Sheet 2, Sheet 3',\n  'Terakhir_Diperbarui': new Date().toISOString()\n};\n\n// Kembalikan HANYA 1 item\nreturn [{ json: laporan }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        160
      ],
      "id": "874620c7-3a1d-4789-88da-5db8ceedd332",
      "name": "Generate Laporan"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "15_i1sKPA7aUaxADLunXdBNQjShNAQT7ktXfZRcUSDh4",
          "mode": "list",
          "cachedResultName": "Dummy Master Sheet ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15_i1sKPA7aUaxADLunXdBNQjShNAQT7ktXfZRcUSDh4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2023212650,
          "mode": "list",
          "cachedResultName": "Laporan  Bulanan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15_i1sKPA7aUaxADLunXdBNQjShNAQT7ktXfZRcUSDh4/edit#gid=2023212650"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "ID Laporan"
          ],
          "schema": [
            {
              "id": "Bulan",
              "displayName": "Bulan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tahun",
              "displayName": "Tahun",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Jumlah_Laporan",
              "displayName": "Jumlah_Laporan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total_Penjualan_Unit",
              "displayName": "Total_Penjualan_Unit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total_Pendapatan_IDR",
              "displayName": "Total_Pendapatan_IDR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rata_Rata_Penjualan_Per_Laporan",
              "displayName": "Rata_Rata_Penjualan_Per_Laporan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rata_Rata_Pendapatan_Per_Laporan",
              "displayName": "Rata_Rata_Pendapatan_Per_Laporan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sumber_Data",
              "displayName": "Sumber_Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Terakhir_Diperbarui",
              "displayName": "Terakhir_Diperbarui",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2112,
        -64
      ],
      "id": "7e550e65-fcea-409e-9c7d-e69752b62f3d",
      "name": "Laporan Bulanan",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oV0ZPaGsfxLjCL1t",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1315189308",
        "text": "=📊 *Laporan Bulanan — {{$json.Bulan}} {{$json.Tahun}}*\n\n✅ *Jumlah Laporan*: {{$json.Jumlah_Laporan}}\n📦 *Penjualan Total*: {{$json.Total_Penjualan_Unit}} unit\n💰 *Pendapatan*: Rp{{ $json.Total_Pendapatan_IDR }}\n\n📈 *Rata-rata Penjualan*: {{$json.Rata_Rata_Penjualan_Per_Laporan}} unit/laporan\n\n\n📎 [Laporan Detail](https://docs.google.com/spreadsheets/d/1XgSB7caGKoqvUDOu00fJljwLOxscyEmvxuzQWkVJiFU/edit?usp=sharing)\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2112,
        160
      ],
      "id": "fb5f50f9-fb43-4c9b-8a59-412b5bc2e85d",
      "name": "Kirim Laporan Ke Telegram",
      "webhookId": "c8190e52-dc24-4392-a3c5-f6de27bbbb6a",
      "credentials": {
        "telegramApi": {
          "id": "GzF8LJop6zaeNUM9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "shiba261203@gmail.com",
        "subject": "Laporan Keuangan Bulanan",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; }\n    .header { background: #0d47a1; color: white; padding: 15px; text-align: center; }\n    .content { padding: 20px; }\n    .metric { margin: 8px 0; font-weight: bold; }\n    .highlight { color: #1976d2; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h2>📊 Laporan Bulanan</h2>\n    <p>{{ $json.Bulan }} {{ $json.Tahun }}</p>\n  </div>\n  <div class=\"content\">\n    <p>Halo Tim,</p>\n    <p>Berikut ringkasan laporan bulanan dari data gabungan (Sheet 1, 2, dan 3):</p>\n    \n    <div class=\"metric\">✅ Jumlah Laporan: <span class=\"highlight\">{{ $json.Jumlah_Laporan }}</span></div>\n    <div class=\"metric\">📦 Total Penjualan: <span class=\"highlight\">{{ $json.Total_Penjualan_Unit }} unit</span></div>\n    <div class=\"metric\">💰 Total Pendapatan: <span class=\"highlight\">Rp{{ $json.Total_Pendapatan_IDR }}</span></div>\n    <div class=\"metric\">📈 Rata-rata Penjualan/Laporan: <span class=\"highlight\">{{ $json.Rata_Rata_Penjualan_Per_Laporan }} unit</span></div>\n    \n    <p>🔗 <a href=\"https://docs.google.com/spreadsheets/d/1XgSB7caGKoqvUDOu00fJljwLOxscyEmvxuzQWkVJiFU/edit?usp=sharing/d/...\">Lihat Master Sheet</a> | <a href=\"https://docs.google.com/spreadsheets/d/1XgSB7caGKoqvUDOu00fJljwLOxscyEmvxuzQWkVJiFU/edit?usp=sharing/...\">Lihat Laporan Bulanan</a></p>\n    \n   \n  </div>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2112,
        400
      ],
      "id": "8af679f3-d3b0-41ec-8833-2b5dee4dda18",
      "name": "Kirim Ke Gmail ",
      "webhookId": "cff28c76-e4bd-4999-a168-3af7264d598f",
      "credentials": {
        "gmailOAuth2": {
          "id": "kYR6BbFJAthFDoQc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1568,
        160
      ],
      "id": "8c272907-aa1a-4a69-8715-e492e3ee9165",
      "name": "Gabung Jadi1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "15_i1sKPA7aUaxADLunXdBNQjShNAQT7ktXfZRcUSDh4",
          "mode": "list",
          "cachedResultName": "Dummy Master Sheet ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15_i1sKPA7aUaxADLunXdBNQjShNAQT7ktXfZRcUSDh4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2029719992,
          "mode": "list",
          "cachedResultName": "Master Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15_i1sKPA7aUaxADLunXdBNQjShNAQT7ktXfZRcUSDh4/edit#gid=2029719992"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "ID Laporan"
          ],
          "schema": [
            {
              "id": "ID Laporan",
              "displayName": "ID Laporan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Bulan",
              "displayName": "Bulan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Produk",
              "displayName": "Produk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Wilayah",
              "displayName": "Wilayah",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Penjualan (Unit)",
              "displayName": "Penjualan (Unit)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Target (Unit)",
              "displayName": "Target (Unit)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pendapatan (IDR)",
              "displayName": "Pendapatan (IDR)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Keterangan",
              "displayName": "Keterangan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tanggal Laporan",
              "displayName": "Tanggal Laporan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1280,
        -192
      ],
      "id": "5c6d5cfa-f51d-4826-829e-defb520d9bbd",
      "name": "Tulis Ke Sheet Master",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oV0ZPaGsfxLjCL1t",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-04-18T10:23:41.882+07:00",
          "Readable date": "April 18th 2026, 10:23:41 am",
          "Readable time": "10:23:41 am",
          "Day of week": "Saturday",
          "Year": "2026",
          "Month": "April",
          "Day of month": "18",
          "Hour": "10",
          "Minute": "23",
          "Second": "41",
          "Timezone": "Asia/Jakarta (UTC+07:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Data Sheet 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Data Sheet 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Data Sheet 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Sheet 1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Sheet 2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Menambahkan Kolom Sumber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menambahkan Kolom Sumber": {
      "main": [
        [
          {
            "node": "Menghapus Duplikat Berdasarkan ID Laporan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Sheet 3": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Menghapus Duplikat Berdasarkan ID Laporan1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menghapus Duplikat Berdasarkan ID Laporan1": {
      "main": [
        [
          {
            "node": "Menyesuaikan Header",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menyesuaikan Header": {
      "main": [
        [
          {
            "node": "Menambahkan Kolom Sumber1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menambahkan Kolom Sumber1": {
      "main": [
        [
          {
            "node": "Tulis Ke Sheet Master",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gabung Jadi1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Menghapus Duplikat Berdasarkan ID Laporan": {
      "main": [
        [
          {
            "node": "Tulis Ke Sheet Master",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Laporan": {
      "main": [
        [
          {
            "node": "Laporan Bulanan",
            "type": "main",
            "index": 0
          },
          {
            "node": "Kirim Laporan Ke Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Kirim Ke Gmail ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gabung Jadi1": {
      "main": [
        [
          {
            "node": "Generate Laporan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tulis Ke Sheet Master": {
      "main": [
        [
          {
            "node": "Gabung Jadi1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "deb5db8c-4489-4026-a668-c0ae3d3ac797",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a82a83e928bd86ebee645190c3e8e8e720bb96438d836d91e81f6558b87cee59"
  },
  "id": "ndJIYHMV9S25nAlq",
  "tags": []
}