Workflow Sistem Deteksi & Pelabelan Phishing Otomatis via AI.json
{
  "name": "Workflow Sistem Deteksi & Pelabelan Phishing Otomatis via AI",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -352,
        16
      ],
      "id": "62b17eb9-efc6-40e4-aec2-6b1b6ca6ae2b",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "kYR6BbFJAthFDoQc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "41f10b9e-90a6-428b-98a9-3f88d8b5bcb9",
              "leftValue": "={{ $json.From }}",
              "rightValue": "customer@bcainsurance.co.id",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "96a46e65-b3d1-4394-a66f-15c8f0afec64",
              "leftValue": "={{ $json.From }}",
              "rightValue": "haloblu@bcadigital.co.id",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "c00722ec-7efd-4e27-9203-ca41d6d46726",
              "leftValue": "={{ $json.From }}",
              "rightValue": "customer@bcalife.co.id",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "21316b2e-2711-4ee5-a2e2-03a5327c23e4",
              "leftValue": "={{ $json.From }}",
              "rightValue": "recruitmentbcaf@bcaf.id",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -128,
        16
      ],
      "id": "9ed7e526-417d-45cd-9c1b-c86ac0df3063",
      "name": "Cek Allowlist"
    },
    {
      "parameters": {
        "chatId": "1315189308",
        "text": "=Ada email baru dari: {{ $('Gmail Trigger').item.json.From }}\nSubject: {{ $('Gmail Trigger').item.json.Subject }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        96,
        -176
      ],
      "id": "511523dd-cc47-4eed-af14-6f0a7015a16f",
      "name": "Reminder Email dari Allowlist",
      "webhookId": "e566c6e6-a9e0-4559-b4b8-dc9f48936d66",
      "credentials": {
        "telegramApi": {
          "id": "GzF8LJop6zaeNUM9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        16,
        320
      ],
      "id": "9a39ca54-2537-4472-930e-2f98493e10aa",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Mbss05G6UhrxjqZF",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analisis teks email ini untuk tanda-tanda phishing keuangan. Fokus pada urgensi palsu, tautan mencurigakan, permintaan info pribadi, atau peniruan identitas bank. Beri skor bahaya dari 1 sampai 10. Jawab HANYA dengan format: 'Skor: [angka]'.\\n\\nEmail:{{ $json.snippet }}  Subject:{{ $json.Subject }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        80,
        112
      ],
      "id": "17a22b77-92aa-403d-aabd-2366983a3c0f",
      "name": "Analisa Phishing"
    },
    {
      "parameters": {
        "jsCode": "// Ambil data dari node-node sebelumnya\n// $json.text adalah output dari Basic LLM Chain\nconst llmOutput = $json.text; \n\n// $json.id adalah Message ID yang datang dari \"Gmail Trigger\"\n// Node LLM Chain akan meneruskan data ini secara otomatis\nconst emailMessageId = $json.id; \n\n// Gunakan regex untuk menemukan \"Skor: [angka]\"\nconst match = llmOutput.match(/Skor:\\s*(\\d+)/);\n\nlet score = 0;\n\n// Jika ditemukan, ambil angkanya\nif (match && match[1]) {\n  score = parseInt(match[1], 10);\n}\n\n// Kembalikan skor DAN messageId untuk node IF dan Gmail\nreturn { \n  score: score,\n  messageId: emailMessageId \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        112
      ],
      "id": "5d3f434b-abe7-4f2a-a390-f33d00b4a82e",
      "name": "Ekstrak Skor dari Teks AI"
    },
    {
      "parameters": {
        "chatId": "1315189308",
        "text": "=⚠️ Tinjauan Email Diperlukan ⚠️  Email ini TIDAK dihapus, tapi AI mendeteksinya. Mohon periksa secara manual.  \n- Skor AI: {{ $json.score }}/10 \n- Dari: {{ $('Gmail Trigger').item.json.From }}\n- Subjek: {{ $('Gmail Trigger').item.json.Subject }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        208
      ],
      "id": "0f987940-222a-41ca-966f-762dc439aee8",
      "name": "Notif untuk Skor Rendah",
      "webhookId": "e932476c-0fb2-4798-8558-e5255745c6b4",
      "credentials": {
        "telegramApi": {
          "id": "GzF8LJop6zaeNUM9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d764b2f9-0e47-4be2-949f-b7830e046dd5",
              "leftValue": "={{ $json.score }}",
              "rightValue": 9,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        640,
        112
      ],
      "id": "1329e02b-e89a-471f-ae37-0edffb630593",
      "name": "Cek Skor Bahaya"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_8138301477638022803"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        880,
        -80
      ],
      "id": "4f953370-34a5-44b7-8f41-267568cfb5cd",
      "name": "Memberikan Label Otomatis",
      "webhookId": "3b5e7fa4-c620-415c-af74-645b0bc2d4e6",
      "credentials": {
        "gmailOAuth2": {
          "id": "kYR6BbFJAthFDoQc",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Cek Allowlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Allowlist": {
      "main": [
        [
          {
            "node": "Reminder Email dari Allowlist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analisa Phishing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analisa Phishing",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analisa Phishing": {
      "main": [
        [
          {
            "node": "Ekstrak Skor dari Teks AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ekstrak Skor dari Teks AI": {
      "main": [
        [
          {
            "node": "Cek Skor Bahaya",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Skor Bahaya": {
      "main": [
        [
          {
            "node": "Memberikan Label Otomatis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notif untuk Skor Rendah",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a5903f80-532c-42b1-bfa1-dcd8f39f3077",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a82a83e928bd86ebee645190c3e8e8e720bb96438d836d91e81f6558b87cee59"
  },
  "id": "7an0I8iCQpC1RVjI",
  "tags": []
}