Workflow Tugas 8 IAK.json
{
  "name": "Workflow Tugas 8 IAK",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "1105e8fb-cf53-40cd-a3fd-8f4b3dff38c8",
      "name": "Setiap 15 menit"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        416,
        208
      ],
      "id": "8c5c35f5-5b3f-4bcb-9608-0a4f77ca1d53",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "HTiMcCVryOOOs7jk",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1K_jLfEbzWSaf8W4WBdwl_pSyJNIbEdq1PViofqVshh8",
          "mode": "list",
          "cachedResultName": "$BTC dan $ETH Sentimen Media Sosial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K_jLfEbzWSaf8W4WBdwl_pSyJNIbEdq1PViofqVshh8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Data Mentah",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K_jLfEbzWSaf8W4WBdwl_pSyJNIbEdq1PViofqVshh8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $('Setiap 15 menit').item.json.timestamp }}",
            "Sentiment": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        0
      ],
      "id": "2ca459d8-3228-4a5e-9238-2a82102668f9",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oV0ZPaGsfxLjCL1t",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua baris dari node \"Google Sheets\"\n// **Pastikan nama node Anda adalah \"Google Sheets\"**\nconst items = $items(\"Baca data\");\n\nlet positive = 0;\nlet negative = 0;\nlet neutral = 0;\nlet total = 0;\n\n// Loop melalui setiap baris\nfor (const item of items) {\n  // Ambil nilai dari kolom \"Sentiment\"\n  const sentiment = item.json.Sentiment;\n  \n  if (sentiment === 'Positive') {\n    positive++;\n  } else if (sentiment === 'Negative') {\n    negative++;\n  } else if (sentiment === 'Neutral') {\n    neutral++;\n  }\n}\n\ntotal = items.length;\n\n// Kembalikan hasil perhitungan\nreturn {\n  total_tweets: total,\n  sentimen_positif: positive,\n  sentimen_negatif: negative,\n  sentimen_netral: neutral\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        560
      ],
      "id": "01b85c92-dcf8-4928-9fad-a10ad289db2f",
      "name": "Analisis data"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1K_jLfEbzWSaf8W4WBdwl_pSyJNIbEdq1PViofqVshh8",
          "mode": "list",
          "cachedResultName": "$BTC dan $ETH Sentimen Media Sosial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K_jLfEbzWSaf8W4WBdwl_pSyJNIbEdq1PViofqVshh8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Data Mentah",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K_jLfEbzWSaf8W4WBdwl_pSyJNIbEdq1PViofqVshh8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        192,
        560
      ],
      "id": "794cbd66-189d-4343-a641-e2252818c5ea",
      "name": "Baca data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oV0ZPaGsfxLjCL1t",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        560
      ],
      "id": "8721ca8f-34dd-4e69-9183-ceb77d0f6958",
      "name": "Tiap jam 7 pagi"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Anda adalah seorang analis sentimen media sosial.\nTuliskan kesimpulan singkat (dalam bahasa Indonesia) untuk laporan Telegram, berdasarkan data berikut:\n\n- Total Tweet Dianalisis: {{ $json.total_tweets }}\n- Sentimen Positif: {{ $json.sentimen_positif }}\n- Sentimen Negatif: {{ $json.sentimen_negatif }}\n- Sentimen Netral: {{ $json.sentimen_netral }}\n\nBerikan ringkasan singkat tentang apa arti angka-angka ini (misalnya, \"Sentimen hari ini cenderung positif,\" \"Ada banyak keraguan di pasar,\" dll.).\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        624,
        560
      ],
      "id": "754cc8f7-b902-4a60-a311-a420a0d3ab44",
      "name": "Membuat kesimpulan"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the sentiment of the following tweet. Respond ONLY with ONE word: 'Positive', 'Negative', or 'Neutral'.\n\nTweet:\n{{ $json.text }}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        416,
        0
      ],
      "id": "b5429ec6-023d-49f2-97cb-cde2bb5feac2",
      "name": "Analisis sentimen"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        624,
        752
      ],
      "id": "c49f1b07-2749-4617-a8c6-8db182727d37",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "Mbss05G6UhrxjqZF",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1315189308",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        976,
        560
      ],
      "id": "5ff0aa06-54d7-4003-8f1f-8e18fead282d",
      "name": "Kirim laporan",
      "webhookId": "fa89673d-8a54-4f1e-8dd3-cabde695c43f",
      "credentials": {
        "telegramApi": {
          "id": "GzF8LJop6zaeNUM9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "87f5fc15-367e-45ab-8155-3f658c67f2f1",
              "name": "text",
              "value": "={\n  \"BTC\": {\n    \"total\": 90,\n    \"bullish\": 33,\n    \"bearish\": 31,\n    \"neutral\": 26,\n    \"avg_compound\": 0.0039,\n    \"signal\": \"NEUTRAL\",\n    \"scraped_at\": \"2026-04-22T03:43:03.694651\"\n  },\n  \"ETH\": {\n    \"total\": 77,\n    \"bullish\": 31,\n    \"bearish\": 33,\n    \"neutral\": 13,\n    \"avg_compound\": -0.042,\n    \"signal\": \"NEUTRAL\",\n    \"scraped_at\": \"2026-04-22T03:43:03.695098\"\n  }\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "d03f578f-9262-4081-83a7-cc4bf96710be",
      "name": "Data scraping"
    }
  ],
  "pinData": {},
  "connections": {
    "Setiap 15 menit": {
      "main": [
        [
          {
            "node": "Data scraping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analisis sentimen",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analisis data": {
      "main": [
        [
          {
            "node": "Membuat kesimpulan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baca data": {
      "main": [
        [
          {
            "node": "Analisis data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tiap jam 7 pagi": {
      "main": [
        [
          {
            "node": "Baca data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membuat kesimpulan": {
      "main": [
        [
          {
            "node": "Kirim laporan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisis sentimen": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Membuat kesimpulan",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Data scraping": {
      "main": [
        [
          {
            "node": "Analisis sentimen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6dd42151-04ce-4147-b61e-dfcff0b90bd8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a82a83e928bd86ebee645190c3e8e8e720bb96438d836d91e81f6558b87cee59"
  },
  "id": "hRRBeRm1lujW44fm",
  "tags": []
}