Workflow Sistem Peringkas Berita Keuangan Otomatis via AI.json
{
  "name": "Workflow Sistem Peringkas Berita Keuangan Otomatis via AI",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "f97d7ba9-673c-4289-8d24-652933f0fbab",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.cnbcindonesia.com/market/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        -144
      ],
      "id": "73891c8b-3313-449e-9b3c-d32fd962dc41",
      "name": "CNBC Indonesia RSS"
    },
    {
      "parameters": {
        "url": "https://finance.detik.com/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        240
      ],
      "id": "b1a8a99b-02aa-46a2-a8c5-ba33470ab102",
      "name": "Finance Detik RSS"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        16
      ],
      "id": "6c378bef-d37a-4985-9e31-277a1116328c",
      "name": "Menggabungkan 2 Output RSS"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        752,
        16
      ],
      "id": "021beafc-c321-4786-96f7-9bcb1f717a3a",
      "name": "Membatasi hanya 10"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        960,
        16
      ],
      "id": "d06bd0bf-9cd0-466f-bbf7-d4bc189e1afc",
      "name": "Unduh halaman wed dari setiap URL"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "text",
              "cssSelector": "body"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -32,
        448
      ],
      "id": "10488a06-be6f-4e7d-94b7-2c726e548eae",
      "name": "Clean Kode HTML dan Ekstrak"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        176,
        448
      ],
      "id": "add0636c-f843-4736-b1d4-00c30141886d",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Berikut adalah 10 artikel berita keuangan teratas hari ini: \n\n{{ $json.text }}\n\n---\nBerdasarkan teks di atas, tolong “Ringkas 5 berita utama pasar hari ini dalam 5 poin.”",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        384,
        448
      ],
      "id": "5cfd7094-e88a-402e-85a4-f265d83b6f32",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "chatId": "1315189308",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        736,
        448
      ],
      "id": "4db772ce-95b1-4e0b-8fdf-c7bb9fb270d0",
      "name": "Send a text message",
      "webhookId": "6be8f134-9ea3-48e3-8caa-34d662d93f71",
      "credentials": {
        "telegramApi": {
          "id": "GzF8LJop6zaeNUM9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        656
      ],
      "id": "cdee8b25-f272-470d-b01f-07124694688a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Mbss05G6UhrxjqZF",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-04-20T20:46:57.305+07:00",
          "Readable date": "April 20th 2026, 8:46:57 pm",
          "Readable time": "8:46:57 pm",
          "Day of week": "Monday",
          "Year": "2026",
          "Month": "April",
          "Day of month": "20",
          "Hour": "20",
          "Minute": "46",
          "Second": "57",
          "Timezone": "Asia/Jakarta (UTC+07:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "CNBC Indonesia RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Finance Detik RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CNBC Indonesia RSS": {
      "main": [
        [
          {
            "node": "Menggabungkan 2 Output RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finance Detik RSS": {
      "main": [
        [
          {
            "node": "Menggabungkan 2 Output RSS",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Menggabungkan 2 Output RSS": {
      "main": [
        [
          {
            "node": "Membatasi hanya 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membatasi hanya 10": {
      "main": [
        [
          {
            "node": "Unduh halaman wed dari setiap URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unduh halaman wed dari setiap URL": {
      "main": [
        [
          {
            "node": "Clean Kode HTML dan Ekstrak",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Kode HTML dan Ekstrak": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "37e382a0-fcd2-49ba-b1c7-38d171c4d1b3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a82a83e928bd86ebee645190c3e8e8e720bb96438d836d91e81f6558b87cee59"
  },
  "id": "H0ZvWBSpH8oBQKio",
  "tags": []
}